*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
span{
    color: #1575ea;
}

/* navbar section styling */

header{
    width: 100%;
    background-color: #fcfcfc;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 8%;
}

.logo{
    font-size: 34px;
    color: #1575ea;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

nav ul li a{
    text-decoration: none;
    color: #191919;
    font-size: 20px;
    transition: 0.3s ease-in-out;
}

nav ul a:hover{
    color: #1575ea;
}

.btn{
    color:#1575ea;
    padding: 10px 25px;
    border: 1px solid #1575ea;
    border-radius: 30px;
    font-size: 20px;
    overflow: hidden;
    transition: 0.3s;
    text-decoration: none;
}
.btn:hover{
    color: white;
    background-color: #1575ea;
}
/* nav bar finish */

/* top section styling here */
.top-container{
    max-width: 100%;
    height: 80vh;
    background-color: #fcfcfc;
    padding: 25px 8% 15px 8%;
    margin-bottom: 35px;
}

.box{
    width: 100%;
    display: flex;
    margin-right: 3%;
    justify-content: space-around;
    align-items: center;
}

.left-box{
    margin-top: -85px;
    width: 50%;
    height: 80vh;
    overflow: hidden;
}

.left-box h1{
    font-size: 45px;
    color: #191919;
    padding-top: 125px;
    padding-bottom: 6px;
    margin-left: 100px;
}

.title{
    color: #191919;
    font-size: 1.2rem;
    padding-bottom: 8px;
    font-weight: 600;
    text-align: left;
    line-height: 1.5;
    margin-left: 100px;
}
.head-text{
    width: 50%;
    text-align: left;
    margin-left: 100px;
}

.hire{
    position: relative;
    top: 30px;
    margin-left: 100px;
}

.right-box{
    width: 50%;
    height: 80vh;
    margin-right: 0px;
    margin-top: 35px;
}
.right-box img{
width: 500px;
height: 450px;
position: relative;
left: 30px;
top: 18px;
}
/* top section styling end */

/* about styling */

.about-container{
    max-width: 100%;
    height: auto;
    background-color: #e3effe;
    padding: 25px 8% 35% 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head-about{
    font-size: 2.5rem;
    text-align: center;
    margin-top: 35px;
}
.lining{
    border: 1px solid #1575ea;
    margin-top: 10px;
    width: 10%;
}
.about-box{
    height: 80vh;
    margin-top: 65px;
    margin-bottom: 65px;
    display: flex;
}
.left-about{
    width: 50%;
}

.about-img{
    width: 400px;
    height: 79vh;
    margin-top: 10px;
    margin-left: 100px;
    box-shadow: 6px 6px 3px #191919;
}

.right-about{
    padding: 25px;
    margin-right: 50px;
    overflow: hidden;
}

.right-h1{
    font-size: 2rem;
}

.right-h1{
    line-height: 1.2;
    margin-top: 15px;
    font-size: 18px;
}
.about-lining{
    position: relative;
    width: 15%;
    left: 80px;
}

/* styling service section */

.service{
    background: #fcfcfc;
    width: 100%;
    padding: 50px 0px;
}
.title h2{
    color: #191919;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.service-lining{
    position: relative;
    width: 8%;
    left: 620px;
    margin-bottom: 50px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card{
    width: 335px;
    padding: 20px 35px;
    background: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    box-shadow: 2px 2px 2px 3px #b9d6fa,2px 2px 2px 3px #b9d6fa;
}
.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #191919;
}
h5{
    color: #1575ea;
    font-size: 23px;
    margin-bottom: 15px;
}
.pra p{
    color: rgba(9,0,9,0.8);
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}
.card .button{
    background-color: #1575ea;
    color: #fcfcfc;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: 0.3s;
}

.card .button:hover{
    background-color: transparent;
    border: 2px solid #1575ea;
    cursor: pointer;
    color: #1575ea;
}

/* styling contact*/
.contact-me{
    width: 100%;
    height: 290px;
    background-color: #e3effe;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.contact-me p{
    color: #191919;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px ;
}
.contact-me .button-two{
    background-color: #1575ea;
    color: #fcfcfc;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
.contact-me .button-two:hover{
    background-color: transparent;
    color: #1575ea;
    cursor: pointer;
    border: 2px solid #1575ea;
}

/*footer styling*/
footer{
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #191919;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1){
    font-size: 30px;
    color: #fcfcfc;
    margin-bottom: 20px;
    font-weight: bold;
}
footer p:nth-child(2){
    color: #fcfcfc;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}
.social{
    display: flex;
}
.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fcfcfc;
    border-radius: 22px;
    margin: 22px 10px;
    color:#191919;
    text-decoration: none;
    font-size: 20px;
}
.social a:hover{
    transform: scale(1.3);
    transition: 0.3s;
}

.end{ 
    position: absolute;
   color: #fcfcfc;
   bottom: 55px;
   font-size: 14px;
}